.tcbutton {
	position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
	margin: 0;
	border: none;
	color: rgb(91, 112, 131);
	font-size: 1.4em;
	overflow: visible;
	-webkit-transition: color 0.7s;
	transition: color 0.7s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #ebeef0;
    padding: 2px 6px;
    line-height: 1;
    margin-top: 10px;
    fill: rgb(91, 112, 131);
	cursor: pointer
}

.tcbutton.tcbutton-click,
.tcbutton:focus {
	outline: none;
	color: rgb(23, 191, 99);
}

.tcbutton_icon {
	display: block;
}

.tcbutton_text {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.tcbutton::after {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -35px 0 0 -35px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	content: '';
	opacity: 0;
	pointer-events: none;
}


/* Morph animation */
.tcbutton-effect-morph::after {
	background: rgba(23,191,99,.1)
}

.tcbutton-effect-morph.tcbutton-click::after {
	-webkit-animation: anim-effect-morph 1s ease-out forwards;
	animation: anim-effect-morph 1s ease-out forwards;
}

@-webkit-keyframes anim-effect-morph {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.5, 0.5, 1);
		transform: scale3d(0.5, 0.5, 1);
	}
	25% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes anim-effect-morph {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.5, 0.5, 1);
		transform: scale3d(0.5, 0.5, 1);
	}
	25% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}